*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Poppins,sans-serif;
    background:#F5F7FF;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:#fff;
    padding:40px;
    width:450px;
    text-align:center;
    border-radius:18px;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
}

h1{
    margin-bottom:30px;
    font-size:36px;
    color:#374151;
}

button{
    border:none;
    padding:12px 20px;
    margin:8px;
    border-radius:10px;
    font:600 16px Poppins,sans-serif;
    cursor:pointer;
    color:#374151;
    transition:.3s;
}

button:nth-of-type(1){background:#C4B5FD;}
button:nth-of-type(2){background:#FBCFE8;}
button:nth-of-type(3){background:#BFDBFE;}

button:hover{
    transform:translateY(-3px);
    box-shadow:0 5px 12px rgba(0,0,0,.15);
}